SpaceAfterCStyleCast: true
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
SortIncludes: true
BasedOnStyle: GNU
IndentGotoLabels: true
IndentCaseBlocks: true
InsertNewlineAtEOF: true
IndentPPDirectives: BeforeHash