*.o
/src/freehttpd
/bin
tmp
*.log
/autom4te.cache
*.swp
*.bak
*.tmp
*.pid
*.dSYM
*.so
*.a
*.dylib
.deps
*~
stamp-h1
*.tar.*
*.zip
*.tar
*.shar
*.shar.gz
*.shar.asc
*.shar.gz.asc
/config.h
/config.h.in
Makefile.in
Makefile
/configure
/config.status
/aclocal.m4
vgcore.*
.dirstamp
*.trs
/.maintainer_configure

# Tagging
TAGS
GPATH
GRTAGS
GTAGS
.gpg_keyid
/.tarball-version
/tests/*_bin
atconfig
/tests/*.helper
/libtool
*.la
*.lo
.libs
/confpaths.h
.DS_Store

/.clangd
/compile_flags.txt
