test_hash_int_basic
test_hash_int_delete
test_hash_int_grow
test_hash_int_free_cb
test_hash_int_churn
test_hash_int_min_capacity
test_hash_str_basic
test_hash_str_delete
test_hash_str_grow
test_hash_str_free_cb
test_hash_str_churn
test_hash_str_ownership
test_hash_str_min_capacity
