.NOTE, .WARNING, .DANGER, .SUCCESS, .DARK {
    border: 1px solid var(--color, #444);
    color: var(--color, #444);
    border-radius: 0;
    padding: 1px 1.3rem;
    display: inline-block;
    margin: 0.75rem 0;
    width: 100%;
}

.NOTE {
    --color: #007bff;
}

.WARNING {
    --color: #bf8d37;
}

.DANGER {
    --color: #b33c1b;
}

.NOTE {
    --color: #42f56c;
}

.DARK {
    --color: #555;
}
